nav{
  font-size: ;
  font-style: ;
  font-weight: ;
  font-family:"Work Sans", sans-serif;
}


body{
  background-image: url("PDA_backgroundlgt.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

h1.home_title{

  font-size: 40px;
  font-weight:bolder;
  /* text-align: center; */
  color: dimgrey;
}

.module_title{
  font-size: 40px;
  font-weight:bolder;
  text-align: center;
  color: dimgrey;
}

#module-window{
position: relative;
display: block;
margin-left: auto;
margin-right:auto;
height:600px;
width: 1150px;
}

p{
 color:lightgrey;
}

#card_div{
  position: relative;
  top: 100px;
  width:1000px;
  height:450px;
}

.card{
  position: relative;
  height:300px;
}


.row {
   display: flex;
   flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}
.card-body{
background-color: rgb(26,53,74,0.7);
}

.aboutdiv{
  float:left;
}

/* .content_div{
  float: left;
  width: 500px;
  height: 500px;
} */

.card{
  border: 3px #fff;
  background-color: transparent;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0;
}

.card-title{
color: #fff;
}

.container_content{
  margin: 20px;
  float: left;
  border: 3px #fff;
  background-color: rgb(26,53,74,0.7);
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0;
  display: inline-block;
}



@media (hover: hover) {
  .card-body:hover {
    background: rgb(26,53,74);
  }
}
